.campaignform label
{
width: 8em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}

.campaignform p {
  line-height: 1px;
  margin-top:0px;
}

.campaignform form div {
  clear: left;
  display: block;
  margin: 5px 0 0 0;
  padding: 1px 3px;
}
.don-icon-danger {
    color: red;
}
.don-icon-info {
    color: #0077dd;
}

.don-blk-progress-outer {
    height: 15px;
    width: 104px;
    background: #fff;
    border: 1px solid #CCCCCC;
    margin: 0;
    padding: 0;
    float: left;
    overflow: auto;
}
.don-blk-progress-inner {
    height: 15px;
    padding: 0;
    background: lightgreen;
    color: blue;
    font-size: smaller;
}
